<div id='existing_video_area' class='dialog_area' <%= "style='display:none;'" if @raw_video.errors.any? %>>
  <%= render :partial => '/refinery/admin/search',
             :locals => {:url => main_app.insert_refinery_admin_raw_videos_path(params.dup.delete(:video))} %>
  <input type='hidden' name='selected_video' id='selected_video' />
  <div id='existing_video_area_content' class='clearfix'>
<% if @raw_videos.any? %>
    <ul>
      <% @raw_videos.each do |video| %>
        <li<%= " class='selected'" if @raw_video_id == video.id %>>
          <%= image_fu(video.poster_image, '106x106#c', {
                :alt => video.title,
                :title => video.title,
                :id => "video_#{video.id}",
                :"data-grid" => asset_paths.compute_public_path(video.poster_image.thumbnail('135x135#c').url, '')
 }) -%>
        </li>
      <% end -%>
    </ul>
<% elsif searching? %>
    <%= t('no_results', :scope => 'refinery.admin.search') %>
<% end %>
  </div>

  <%= will_paginate @raw_videos %>

  <%= render :partial => "/refinery/admin/form_actions",
             :locals => {
               :f => nil,
               :cancel_url => '',
               :submit_button_text => t('.button_text'),
               :hide_submit => @raw_videos.empty?,
               :hide_cancel => false,
               :hide_delete => true,
               :cancel_title => nil
             } if @app_dialog or @raw_videos.any? or searching? %>
</div>
